<!doctype html>
<html lang="en">
<head>
   <title>Leave Balance</title>
   <% include ../common/header %>
   <% include ../common/scripts %>
   <% include ../common/styles %>
   <!-- Data Tables -->
   <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
   <style>
                        .navbar .navbar-reverse
                        {
                                display: inline-block;
                                float: none;
                                vertical-align: top;
                        }

                        .navbar .navbar-collapse
                        {
                                text-align: center;
                        }

                        hr
                        {
                                border: none;
                                height: 1px;
                                color: #333;
                                background-color: #333;
                        }

                        .glyphicon
                        {
                                font-size: 25px;
                        }

                        .inner-addon
                        {
                                position: relative;
                        }

                        .inner-addon .glyphicon
                        {
                                position: absolute;
                                padding: 10px;
                                pointer-events: none;
                        }

                        .left-addon .glyphicon
                        {
                                left:  0px;
                        }

                        .right-addon .glyphicon
                        {
                                right: 0px;
                        }

                        .left-addon input
                        {
                                padding-left:  30px;
                        }

                        .right-addon input
                        {
                                padding-right: 30px;
                        }

                        *
                        {
                                box-sizing: border-box;
                        }

                        .btn
                        {
                                cursor: pointer;
                        }

			textarea 
			{
				resize: none;
			}

			table 
			{
    				border-collapse: collapse;
			}

			th, td 
			{
    				text-align: left;
    				padding: 8px;
			}

			tr:nth-child(even)
			{
				background-color: #f2f2f2
			}

			th 
			{
    				background-color: #008080;
    				color: white;

			}

                        #example
                        {
                          border-collapse: collapse;
                          width: 100%;
                          border: 2px solid #ddd;
                          font-size: 13px;
                        }

                        #example th
                        {
                                text-align: left;
                                padding: 16px;
                                background-color:#008080;
                                color:white;
                        }

                        #example td
                        {
                                text-align: left;
                                padding: 16px;
                        }


                        #example tr
                        {
                                border-bottom: 1px solid #ddd;
                        }

                        #example tr.header, #example tr:hover
                        {
                                background-color: none;
                        }

                        #example1
                        {
                          border-collapse: collapse;
                          width: 100%;
                          border: 2px solid #ddd;
                          font-size: 13px;
                        }

                        #example1 th
                        {
                                text-align: left;
                                padding: 16px;
                                background-color:#008080;
                                color:white;
                        }

                        #example1 td
                        {
                                text-align: left;
                                padding: 16px;
                        }


                        #example1 tr
                        {
                                border-bottom: 1px solid #ddd;
                        }

                        #example1 tr.header, #example1 tr:hover
                        {
                                background-color: none;
                        }


	</style>

	<script type="text/javascript">

        function avail_leaves()
        {
                var leave_id = document.getElementById("leave_type").value;
                var emp_id = document.getElementById("emp_id").value;

		if(emp_id != "")
		{
			if(leave_id != "")
			{
				if(leave_id == "EL")
				{
				     $.ajax({
						url:'/requestModule/applyLeave/fetchBulk?leave_id='+leave_id+'&emp_id='+emp_id,
						method:'get',
						success:function(resp,status)
						{
							if(status=="success")
							{
								document.getElementById("quaterly_show").style.display='block';
								$('#available_leaves').val(resp.key);
								$('#quaterly').val(resp.key1);
							}
						}
				     });
				 }
				 else
				 {
				     $.ajax({
						url:'/requestModule/applyLeave/fetchBulk?leave_id='+leave_id+'&emp_id='+emp_id,
						method:'get',
						method:'get',
						success:function(resp,status)
						{
							if(status=="success")
							{
								$('#available_leaves').val(resp.key);
								document.getElementById("quaterly_show").style.display='none';
							}
						}
				     });
				 }
			}
        	}
		else
		{
                                demo.initChartist();
                                $.notify({
                                icon: 'fa fa-exclamation-circle',
                                message: "Please select the Employee First"
                                },{
                                type: 'danger',
                                timer: 500
                                });
                		document.getElementById("leave_type").value="";
                                return false;
		}
	}

        function check_first()
        {
                var emp_id = document.getElementById("emp_id").value;

                if(emp_id == "")
                {
                                demo.initChartist();
                                $.notify({
                                icon: 'fa fa-exclamation-circle',
                                message: "Please select the Employee First"
                                },{
                                type: 'danger',
                                timer: 500
                                });
                                return false;
                }
		else
		{
                	document.getElementById("leave_type").value="";
                	document.getElementById("available_leaves").value="";
                	document.getElementById("quaterly").value="";
		}
        }


	</script>


	<script>

		function changeHashOnLoad()
		{
		window.location.href += "#";
		setTimeout("changeHashAgain()", "50");
		}
		function changeHashAgain()
		{
		window.location.href += "1";
		}
		var storedHash = window.location.hash;
		window.setInterval(function ()
		{
		if (window.location.hash != storedHash)
		{
		window.location.hash = storedHash;
		}
		}, 50);

	</script>

            <script>

                $(document).ready(function()
                {
                    $('#example').DataTable(
                    {
                        "pagingType": "full_numbers"
                    });
                } );

            </script>


            <script>

                $(document).ready(function()
                {
                    $('#example1').DataTable(
                    {
                        "pagingType": "full_numbers",
			"pageLength": 3
                    });
                });

            </script>



</head>
<body onload="changeHashOnLoad();">

<div class="wrapper">
    <div class="sidebar" style ="background-color: transparent;color: #006666">
        <div class="sidebar-wrapper">
        <% include ../common/logo %>
            <ul class="nav">
                <li class="active">
                    <a href="/admin-dashboard/adminDashboard/admindashboard">
      <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
        <% if(emp_access == "A1"){%>
                    <a href="/employeeModule/employeeDetails/employeeDetails">
      <i class="material-icons">person</i>
                        <p>Employee Details</p>
                    </a>
                    <%}else{%>
                    <a href="/employeeModule/employeeDetails/employeeAddpersonal">
      <i class="material-icons">person</i>
                        <p>Employee Details</p>
                    </a>
                    <%}%>
                </li>
    
    <% if(emp_access == "L1" || emp_access == "L2" ){%>
                <li>
                    <a href="/projectModule/projectDetails/customercreation">
      <i class="material-icons">pie_chart</i>
                        <p>Project Module</p>
                    </a>
                </li>
    <%}%>
    
    <% if(emp_access == "F1"){%>
                <li>
                    <a href="/projectModule/projectDetails/projectDocumentsView">
                        <i class="material-icons">pie_chart</i>
                        <p>Project Module</p>
                    </a>
                </li>
                <%}%>

    <% if(emp_access != "F1"){%>
                <li>
                   <a href="/appraisalModule/viewAppraisal/viewAppraisal">
      <i class="material-icons">thumbs_up_down</i>
                        <p>Appraisal Module</p>
                    </a>
                </li>
    <%}%>

                <li>
                    <a href="/cmsModule/cms/cms">
      <i class="material-icons">file_upload</i>
                        <p>E-Docket</p>
                    </a>
                </li>
  
    <% if(emp_access == "N1"){%>
                <li>
                    <a href="/assetModule/assetDetails/assetDetails">
      <i class="material-icons">phonelink</i>
                        <p>Asset Management</p>
                    </a>
                </li>
    <%}%>

    <li>
                    <a href="/requestModule/applyLeave/applyLeave">
      <i class="material-icons">event</i>
                        <p>Leave Requests</p>
                    </a>
                </li>

    <% if(emp_access == "A1" || emp_access == "F1"){%>
                <li>
                    <a href="/holidaysModule/holidays/viewHolidays">
      <i class="material-icons">date_range</i>
                        <p>Holiday Management</p>
                    </a>
                </li>
    <%}%>

    <% if(emp_access != 'A1'){ %>
                <li>
                   <% if(emp_access != "F1"){ %> 
                    <a href="/travelModule/travel/travel">
      <i class="material-icons">flight</i>
                        <p>Travel Requests</p>
                    </a>
                  <%}else{%>   
                    <a href="/travelModule/travel/travelHrReqQueue">
      <i class="material-icons">flight</i>
                        <p>Travel Requests</p>
                    </a>
                   <% } %>
                </li>
    <% } %>


    <% if( emp_access== 'F1'){ %>
    <li>
                    <a href="/invoiceModule/invoiceDetails/chooseinvoiceDetails">
      <i class="material-icons">storage</i>
                        <p>Invoice Management</p>
                    </a>
    </li>
    <% } %>

    <% if(emp_access != 'A1'){ %>
    <li>
       <% if(emp_access != "F1" ){ %>
                    <a href="/reimbursementModule/initiateRem/initiateRem">
      <i class="material-icons">receipt</i>
                        <p>Claims</p>
                    </a>
       <%}else{%>
                    <a href="/reimbursementModule/initiateRem/reimburseHrReqQueue">
      <i class="material-icons">receipt</i>
                        <p>Claims</p>
                    </a>
       <%}%>
                </li>
    <% } %>

            </ul>
      </div>
    </div>




    <div class="main-panel">
            <div class="container-fluid">
                <% include ../common/userBar %>
                <br>
                <div class="content">
                <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="header2row">
                                <nav class="navbar navbar-inverse">
				<ul class="nav navbar-nav" style="color:#669999">
                                        <% if(emp_access != "A1") {%>
                                            <li><a href="/requestModule/applyLeave/applyLeave">Apply Leave</a></li>
                                            <li><a href="/requestModule/viewLeave/viewLeave">View/Cancel Leaves</a></li>
                                            <li><a href="/requestModule/approveLeaves/approveLeaves">Approve/Reject Leaves</a></li>
				    	    <li><a href="/requestModule/applyLeave/empspecficLeaveBalance">Leave Balance</a></li>
					    <li><a href="/requestModule/applyLeave/reportingListBalance"><span style="color:#ff6600">Team Leave Balance</span></a></li>
                                            <li><a href="/holidaysModule/holidays/viewHolidaysLeave">View Holidays</a></li>
                                            <li><a href="/requestModule/leaveFAQDetails/leaveFAQDetails">FAQ</a></li>
                                        <% } else { %>
                                            <li><a href="/requestModule/applyLeave/applyLeave">Apply Leave</a></li>
                                            <li><a href="/requestModule/viewLeave/viewLeave">View/Cancel Leaves</a></li>
                                            <li><a href="/requestModule/approveLeaves/approveLeaves">Approve/Reject Leaves</a></li>
                                            <li><a href="/holidaysModule/holidays/viewHolidaysLeave">View Holidays</a></li>
                                            <li><a href="/requestModule/applyLeave/markLeave">Mark Leave</a></li>
                                            <li><a href="/requestModule/applyLeave/unmarkLeave">UnMark Leave</a></li>
                                            <li><a href="/requestModule/applyLeave/viewEmpLeave">View Employee Leave Data</a></li>
                                            <li><a href="/requestModule/applyLeave/EmployeeLeaveBalance">View Employee Leave Balance</a></li>
                                            <li><a href="/requestModule/leaveFAQDetails/leaveFAQDetails">FAQ</a></li>
                                        <% } %>
                                </ul>
                                </nav>
                            </div>

			    <div class="content">
                                <hr>
                                <h4 class="title">Team Leave Balance - <b><%= current_date.getFullYear() %></b></h4>
                                <hr>
				<% if (emp_data_count > 0) {%>
                                <div class="row">
                                  <div class="col-md-5">
                                    <div class="form-group">
                                <label for="empid" style="color:#404040;margin-left: 30px">Employee Name <span style="color:red;font-size: 10pt">*</span></label>
                                <select onchange="check_first();" class="form-control" style ="margin-left: 30px;width:348px" id="emp_id" name="emp_id">
                                                <option value="">Employee Name</option>
                                                <% for (i = 0; i < emp_data_count; i++)  {%>
                                                <option value="<%= emp_data[i].emp_id %>"> <%=emp_data[i].emp_id %> - <%= emp_data[i].emp_name %></option>
                                                <% }; %>

                                </select>

                                </div>
                                </div>
                                </div>

                                <div class="row">
                                  <div class="col-md-5">
                                    <div class="form-group">
					    <label for="leave_type" style="color:#404040;margin-left: 30px">Leave Type <span style="color:red;font-size: 10pt">*</span></label>
							<select class="form-control" onchange="avail_leaves();" style ="margin-left:30px;width:348px" id="leave_type" name="leave_type">
							<option value="" selected disabled>Please select the Leave Type</option>
							<% for (i = 0; i < leaveConfigData.length; i++)  {%>
							<option value="<%= leaveConfigData[i].leave_type %>"> <%=leaveConfigData[i].description %> </option>
							<% }; %>
							</select>
                                </div>
                                </div>
                                </div>
                                <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="available_leaves" style="color:#404040;margin-left: 30px">Total Available Leaves</label>
                                                <input type="text" style="margin-left:30px;width:348px" id="available_leaves" name="available_leaves" readonly class="form-control" placeholder="Total Available Leaves">
                                            </div>
                                        </div>
                               </div>

                                <div class="row" id="quaterly_show">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="quaterly" style="color:#404040;margin-left: 30px">Quaterly Leave Balance</label>
                                                <input type="text" style="margin-left:30px;width:348px" id="quaterly" name="quaterly" readonly class="form-control" placeholder="Quaterly Leave Balance">
                                            </div>
                                        </div>
                               </div>
			  
                                                <% } else { %>
                              <br>
                              <br>
                                	<table id="example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
						<th width="130" style="color:white">Team Leave Balance</th>
                                        </tr>
                                        </thead>
                                        <tbody>
						<tr>
                                                	<td><div><p><b>You do not have any Employee reporting to you</b></p></div>
						</tr>
                                        </tbody>
                                	</table>
                                                <% } %>
                              <br>
                              <br>

                               </div>
                               </div>
            		       </div>
                               </div>
        		       </div>
        		       </div>
        		       </div>
	<% include ../common/footer %>
    </div>


</body>

  <!--   Core JS Files   -->
  <!--  Checkbox, Radio & Switch Plugins -->
  <script src="/js/bootstrap-checkbox-radio-switch.js"></script>
  <!--  Charts Plugin -->
  <script src="/js/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/js/bootstrap-notify.js"></script>
  <!--  Google Maps Plugin    -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
  <script src="/js/light-bootstrap-dashboard.js"></script>
  <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
  <script src="/js/demo.js"></script>

<% if(success!="") { %>
       <script type="text/javascript">
        $(document).ready(function(){

                demo.initChartist();

                $.notify({
                icon: 'fa fa-exclamation-circle',
                message:"<b><%= success %></b>"

            },{
                type: 'info',
                timer: 500
            });

        });
        </script>
    <%}%>

    <% if(error!="") { %>
      <script type="text/javascript">
      $(document).ready(function(){
      demo.initChartist();
      $.notify({
      icon: 'fa fa-exclamation-circle',
      message:"<b><%= error %></b>"
      },{
         type: 'danger',
         timer: 500
      });
      });
      </script>
   <%}%>
</html>


