<!doctype html>
<html lang="en">
<head>
        <% include ../common/header %>
        <% include ../common/scripts %>
        <% include ../common/styles %>
        <title>E-Docket</title>

	<style>
		.navbar .navbar-reverse
		{
			display: inline-block;
			float: none;
			vertical-align: top;
		}

		.navbar .navbar-collapse
		{
			text-align: center;
		}

		table {
                    border-collapse: collapse;
                    border-spacing: 0;
                    width: 100%;
                    border: 1px solid #ddd;
                }

                th, td {
                    border: none;
                    text-align: left;
                    padding: 8px;
                }

                tr:nth-child(odd){background-color: #f2f2f2}

		hr
		{
			border: none;
			height: 1px;
			color: #333;
			background-color: #333;
		}
		 /* visited link */
                a:visited {
                    color: purple;
                }

                /* mouse over link */
                a:hover {
                    color: red;
                    text-decoration: underline;
                }

                /* selected link */
                a:active {
                    color: hotpink;
                }
	</style>

	<script>
		
		function deleteDoc(obj,empId,doc)
		{
			var deleteButt = obj.id;
			var objValue = deleteButt.substr(6);
			var del = confirm("Are you sure want to delete?");
			if(del == true)
			{
				location.href = "/cmsModule/cms/cmsDeleteRejDocEmployee?doc="+doc+"&empId="+empId;
			}
		}

		function delPendDoc(doc,empId)
                {
                        var del = confirm("Are you sure want to delete?");
                        if(del == true)
                        {
                                location.href = "/cmsModule/cms/cmsDeletePenDocEmployee?doc="+doc+"&empId="+empId;
                        }
                }
		
	</script>


</head>
<body onload="changeHashOnLoad();">

<div class="wrapper">
    <div class="sidebar" style="background-color: transparent;color: #006666">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

        <div class="sidebar-wrapper">
            <% include ../common/logo %>

            <ul class="nav">
                <li>
                    <a href="/admin-dashboard/adminDashboard/admindashboard">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <% if(emp_access == "A1"){%>
                    <a href="/employeeModule/employeeDetails/employeeDetails">
                        <i class="material-icons">person</i>
                        <p>Employee Details</p>
                    </a>
                    <%}else{%>
                    <a href="/employeeModule/employeeDetails/employeeAddpersonal">
                        <i class="material-icons">person</i>
                        <p>Employee Details</p>
                    </a>
                    <%}%>
                </li>

                <% if(emp_access == "L1" || emp_access == "L2" ){%>
                <li>
                    <a href="/projectModule/projectDetails/customercreation">
                        <i class="material-icons">pie_chart</i>
                        <p>Project Module</p>
                    </a>
                </li>
                <%}%>

                <% if(emp_access == "F1"){%>
                <li>
                    <a href="/projectModule/projectDetails/projectDocumentsView">
                        <i class="material-icons">pie_chart</i>
                        <p>Project Module</p>
                    </a>
                </li>
                <%}%>

                <% if(emp_access != "F1"){%>
                <li>
                   <a href="/appraisalModule/viewAppraisal/viewAppraisal">
                        <i class="material-icons">thumbs_up_down</i>
                        <p>Appraisal Module</p>
                    </a>
                </li>
                <%}%>

                <li class="active">
                    <a href="/cmsModule/cms/cms">
			<i class="fa fa-file-text" aria-hidden="true"></i>
                        <p>E-Docket</p>
                    </a>
                </li>

                <% if(emp_access == "N1"){%>
                <li>
                    <a href="/assetModule/assetDetails/assetDetails">
                        <i class="material-icons">phonelink</i>
                        <p>Asset Management</p>
                    </a>
                </li>
                <%}%>

                <li >
                    <a href="/requestModule/applyLeave/applyLeave">
                        <i class="material-icons">event</i>
                        <p>Leave Requests</p>
                    </a>
                </li>

                <% if(emp_access == "A1" || emp_access == "F1"){%>
                <li>
                    <a href="/holidaysModule/holidays/viewHolidays">
                        <i class="material-icons">date_range</i>
                        <p>Holiday Management</p>
                    </a>
                </li>
                <%}%>

                <% if(emp_access != 'A1'){ %>
                <li>
                   <% if(emp_access != "F1"){ %>
                    <a href="/travelModule/travel/travel">
                        <i class="material-icons">flight</i>
                        <p>Travel Requests</p>
                    </a>
                  <%}else{%>
                    <a href="/travelModule/travel/travelHrReqQueue">
                        <i class="material-icons">flight</i>
                        <p>Travel Requests</p>
                    </a>
                   <% } %>
                </li>
                <% } %>


                <% if( emp_access== 'F1'){ %>
                <li>
                    <a href="/invoiceModule/invoiceDetails/chooseinvoiceDetails">
                        <i class="material-icons">storage</i>
                        <p>Invoice Management</p>
                    </a>
                </li>
                <% } %>

                <% if(emp_access != 'A1'){ %>
                <li>
                   <% if(emp_access != "F1" ){ %>
                    <a href="/reimbursementModule/initiateRem/initiateRem">
                        <i class="material-icons">receipt</i>
                        <p>Claims</p>
                    </a>
                   <%}else{%>
                    <a href="/reimbursementModule/initiateRem/reimburseHrReqQueue">
                        <i class="material-icons">receipt</i>
                        <p>Claims</p>
                    </a>
                   <%}%>
                </li>
                <% } %>

            </ul>


        </div>
    </div>



<div class="main-panel">
<div class="container-fluid">
        <% include ../common/userBar %>
<br>

   <div class="content">
      <div class="container-fluid">
         <div class="row">
	    <div class="col">
	       <div class="card">
                  <div class="header2row">
                     <nav class="navbar navbar-inverse">
                        <ul class="nav navbar-nav" style="color:#669999">
			<li><a href="/cmsModule/cms/cmsUploadEmployee">Upload Documents</a></li>
			<li><a href="/cmsModule/cms/cmsViewStatusEmployee"><span style="color:#ff6600">View Status</span></a></li>
			<li><a href="/cmsModule/cms/cmsViewEmployee">View Documents</a></li>
			<li><a href="/cmsModule/cms/policyViewEmployee">View Policy Docs</a></li>
			<li><a href="/cmsModule/cms/magazineViewEmployee">View Magazines</a></li>
			<li><a href="/cmsModule/cmsFAQDetails/cmsFAQDetails">FAQ</a></li>
			</ul>
		     </nav>
		  </div>
		  <div class="content">
			<hr/>
				<h4 class="title">View Status     <i class="fa fa-eye" aria-hidden="true"></i></h4>
			<hr/>
			   <div class="row">
				<div class="col-sm-5" >
				<h5><u>Pending Documents for Approval</u></h5><br>
				<% if(govLen != 0 || eduLen != 0 || medLen != 0 || expLen != 0 || phLen != 0 || resLen != 0 || othrLen != 0 || hrLen != 0 || cerLen != 0 || bgLen != 0) {%>
                                      <% if(govLen != 0) {%>
                                          <label style="color:#404040;">Government Documents :</label>
					  <ol>
					      <% for (i = 0; i < govLen; i++)  {%>
						<li><span style="width:100%; word-wrap:break-word; display:inline-block;">
						<a href="/cmsModule/cms/cmsViewFilesEmployee?id=<%=govDocs[i]%>&empId=<%=eid%>" target="_blank"><%=govDocs[i]%></a>
						<a style="color:#293699;" title="Delete" onclick="delPendDoc(&#39;<%=govDocs[i]%>&#39;,&#39;<%=eid%>&#39;);">
						<i class="fa fa-times fa-lg" aria-hidden="true"></i></a>
						</span></li>
					      <% }; %>
					  </ol>
					  <br/>
					<% } %>

					<% if(eduLen != 0) {%>
					   <label style="color:#404040;">Educational Documents :</label>
					  <ol>
					      <% for (i = 0; i < eduLen; i++)  {%>
						<li> <span style="width:100%; word-wrap:break-word; display:inline-block;">
						<a href="/cmsModule/cms/cmsViewFilesEmployee?id=<%=eduDocs[i]%>&empId=<%=eid%>" target="_blank"><%=eduDocs[i]%></a>
						<a style="color:#293699;" title="Delete" onclick="delPendDoc(&#39;<%=eduDocs[i]%>&#39;,&#39;<%=eid%>&#39;);">
                                                <i class="fa fa-times fa-lg" aria-hidden="true"></i></a>
						<span></li>
					      <% }; %>
					  </ol>
					  <br/>
					<% } %>
					
					<% if(medLen != 0) {%>
					  <label style="color:#404040;">Medical Document :</label>
					  <ol>
					      <% for (i = 0; i < medLen; i++)  {%>
						<li><span style="width:100%; word-wrap:break-word; display:inline-block;">
						<a href="/cmsModule/cms/cmsViewFilesEmployee?id=<%=medDocs[i]%>&empId=<%=eid%>" target="_blank"><%=medDocs[i]%></a>
						<a style="color:#293699;" title="Delete" onclick="delPendDoc(&#39;<%=medDocs[i]%>&#39;,&#39;<%=eid%>&#39;);">
                                                <i class="fa fa-times fa-lg" aria-hidden="true"></i></a>
						</span></li>
					      <% }; %>
					  </ol>
					  <br/>
					<% } %>

					<% if(expLen != 0) {%>
					  <label style="color:#404040;">Experience Documents :</label>
					  <ol>
					      <% for (i = 0; i < expLen; i++)  {%>
						<li><span style="width:100%; word-wrap:break-word; display:inline-block;">
						<a href="/cmsModule/cms/cmsViewFilesEmployee?id=<%=expDocs[i]%>&empId=<%=eid%>" target="_blank"><%=expDocs[i]%></a>
						<a style="color:#293699;" title="Delete" onclick="delPendDoc(&#39;<%=expDocs[i]%>&#39;,&#39;<%=eid%>&#39;);">
                                                <i class="fa fa-times fa-lg" aria-hidden="true"></i></a>
						</span></li>
					      <% }; %>
					  </ol>
					  <br/>
					<% } %>

					<% if(phLen != 0) {%>
					  <label style="color:#404040;">Photo :</label>
					  <ol>
					      <% for (i = 0; i < phLen; i++)  {%>
						<li><span style="width:100%; word-wrap:break-word; display:inline-block;">
						<a href="/cmsModule/cms/cmsViewFilesEmployee?id=<%=phDocs[i]%>&empId=<%=eid%>" target="_blank"><%=phDocs[i]%></a>
						<a style="color:#293699;" title="Delete" onclick="delPendDoc(&#39;<%=phDocs[i]%>&#39;,&#39;<%=eid%>&#39;);">
                                                <i class="fa fa-times fa-lg" aria-hidden="true"></i></a>
						</span></li>
					      <% }; %>
					  </ol>
					  <br/>
					<% } %>
				
					<% if(resLen != 0) {%>
					  <label style="color:#404040;">Resume :</label>
					  <ol>
					      <% for (i = 0; i < resLen; i++)  {%>
						<li><span style="width:100%; word-wrap:break-word; display:inline-block;">
						<a href="/cmsModule/cms/cmsViewFilesEmployee?id=<%=resDocs[i]%>&empId=<%=eid%>" target="_blank"><%=resDocs[i]%></a>
						<a style="color:#293699;" title="Delete" onclick="delPendDoc(&#39;<%=resDocs[i]%>&#39;,&#39;<%=eid%>&#39;);">
                                                <i class="fa fa-times fa-lg" aria-hidden="true"></i></a>
						</span></li>
					      <% }; %>
					  </ol>
					  <br/>
					<% } %>
					
					<% if(cerLen != 0) {%>
                                          <label style="color:#404040;">Certificates :</label>
                                          <ol>
                                              <% for (i = 0; i < cerLen; i++)  {%>
                                                <li><span style="width:100%; word-wrap:break-word; display:inline-block;">
                                                <a href="/cmsModule/cms/cmsViewFilesEmployee?id=<%=cerDocs[i]%>&empId=<%=eid%>" target="_blank"><%=cerDocs[i]%></a>
						<a style="color:#293699;" title="Delete" onclick="delPendDoc(&#39;<%=cerDocs[i]%>&#39;,&#39;<%=eid%>&#39;);">
                                                <i class="fa fa-times fa-lg" aria-hidden="true"></i></a>
                                                </span></li>
                                              <% }; %>
                                          </ol>
                                          <br/>
                                        <% } %>

					<% if(othrLen != 0) {%>
                                          <label style="color:#404040;">Other Documents :</label>
                                          <ol>
                                              <% for (i = 0; i < othrLen; i++)  {%>
                                                <li><span style="width:100%; word-wrap:break-word; display:inline-block;">
                                                <a href="/cmsModule/cms/cmsViewFilesEmployee?id=<%=othrDocs[i]%>&empId=<%=eid%>" target="_blank"><%=othrDocs[i]%></a>
						<a style="color:#293699;" title="Delete" onclick="delPendDoc(&#39;<%=othrDocs[i]%>&#39;,&#39;<%=eid%>&#39;);">
                                                <i class="fa fa-times fa-lg" aria-hidden="true"></i></a>
                                                </span></li>
                                              <% }; %>
                                          </ol>
                                          <br/>
                                        <% } %>

					<% if(bgLen != 0) {%>
                                          <label style="color:#404040;">Background Verification Document :</label>
                                          <ol>
                                              <% for (i = 0; i < bgLen; i++)  {%>
                                                <li><span style="width:100%; word-wrap:break-word; display:inline-block;">
                                                <a href="/cmsModule/cms/cmsViewFilesEmployee?id=<%=bgDocs[i]%>&empId=<%=eid%>" target="_blank"><%=bgDocs[i]%></a>
						<a style="color:#293699;" title="Delete" onclick="delPendDoc(&#39;<%=bgDocs[i]%>&#39;,&#39;<%=eid%>&#39;);">
                                                <i class="fa fa-times fa-lg" aria-hidden="true"></i></a>
                                                </span></li>
                                              <% }; %>
                                          </ol>
                                          <br/>
                                        <% } %>

					<% if(hrLen != 0) {%>
					  <label style="color:#404040;">HR Upload Documents :</label>
					  <ol>
					      <% for (i = 0; i < hrLen; i++)  {%>
						<li><span style="width:100%; word-wrap:break-word; display:inline-block;">
						<a href="/cmsModule/cms/cmsViewFilesEmployee?id=<%=hrDocs[i]%>&empId=<%=eid%>" target="_blank"><%=hrDocs[i]%></a>
						<a style="color:#293699;" title="Delete" onclick="delPendDoc(&#39;<%=hrDocs[i]%>&#39;,&#39;<%=eid%>&#39;);">
                                                <i class="fa fa-times fa-lg" aria-hidden="true"></i></a>
						</span></li>
					      <% }; %>
					  </ol>
					  <br/>
					<% } %>
				<% } else { %>
					<label style="color:#404040;">No records found </label>
				<% } %>
				</div>
				<div class="col-sm-7" >
					<h5><u>Rejected Documents</u></h5><br>
					<% if (rlen != 0) { %>
					   <div style="overflow-x:auto;">
                                             <table>
						<tr>
                                                	<th>Documents</th>
                                                	<th>Rejected Reason</th>
							<th>Delete Option</th>
                                        	</tr>

                                                <% for (i = 0; i < rlen; i++) { %>
                                                        <tr>
                                                        <td><a href="/cmsModule/cms/cmsViewFilesEmployeeReject?id=<%=rdocs[i]%>&empId=<%=eid%>" target="_blank"><%=rdocs[i]%></a></td>
                                                        <td><%=rreas[i]%></td>
							<td><input type="button" class="btn btn-danger btn-fill" style="float: center;" onclick="return deleteDoc(this,&#39;<%=eid%>&#39;,&#39;<%=rdocs[i]%>&#39;)" id="delete<%=i%>" name="delete<%=i%>" value="Delete"></td>
                                                        </tr>
                                                <% } %>
                                             </table>
					   </div>
					   <br/>
                                         <% } else { %>
						<label style="color:#404040;">No records found </label>
					<br/>
                                         <% } %>
                                 </div>
			 </div>
		  </div>
               </div>
           </div>
        </div>
     </div>
  </div>
    </div>
	<% include ../common/footer %>
</div>


</body>

    <% if(success!="") { %>
       <script type="text/javascript">
        $(document).ready(function(){

                demo.initChartist();

                $.notify({
                icon: 'fa fa-exclamation-circle',
                message:"<b><%= success %></b>"

            },{
                type: 'info',
                timer: 500
            });

        });
        </script>
    <%}%>

    <% if(error!="") { %>
      <script type="text/javascript">
      $(document).ready(function(){
      demo.initChartist();
      $.notify({
      icon: 'fa fa-exclamation-circle',
      message:"<b><%= error %></b>"
      },{
         type: 'danger',
         timer: 500
      });
      });
      </script>
   <%}%>
</html>
