<!doctype html>
<html lang="en">
<head>
        <% include ../common/header %>
        <% include ../common/scripts %>
        <% include ../common/styles %>
        <title>E-Docket</title>

	<style>
		.navbar .navbar-reverse
		{
			display: inline-block;
			float: none;
			vertical-align: top;
		}

		.navbar .navbar-collapse
		{
			text-align: center;
		}

		table, tr, td
		{
		    border: 0px;
		    padding: 2px;
		}

		table
		{
			border-spacing: 0px;
		}

		hr
		{
			border: none;
			height: 1px;
			color: #333;
			background-color: #333;
		}
		 /* visited link */
                a:visited {
                    color: purple;
                }

                /* mouse over link */
                a:hover {
                    color: red;
                    text-decoration: underline;
                }

                /* selected link */
                a:active {
                    color: hotpink;
                }
	</style>

	<script>

		function deletePolicy(doc,policyTag)
		{
			var del = confirm("Are you sure want to delete?");
			if(del == true)
			{
				location.href = "/cmsModule/cms/policyDeleteDocs?doc="+doc+"&policyTag="+policyTag;
			}
		}

	</script>


</head>
<body onload="changeHashOnLoad();">
<!--<body>-->
<div class="wrapper">
    <div class="sidebar" style ="background-color: transparent;color: #006666">
    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

        <div class="sidebar-wrapper">
		<% include ../common/logo %>

            <ul class="nav">
                <li>
                    <a href="/admin-dashboard/adminDashboard/admindashboard">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <% if(emp_access == "A1"){%>
                    <a href="/employeeModule/employeeDetails/employeeDetails">
                        <i class="material-icons">person</i>
                        <p>Employee Details</p>
                    </a>
                    <%}else{%>
                    <a href="/employeeModule/employeeDetails/employeeAddpersonal">
                        <i class="material-icons">person</i>
                        <p>Employee Details</p>
                    </a>
                    <%}%>
                </li>

                <% if(emp_access == "L1" || emp_access == "L2" ){%>
                <li>
                    <a href="/projectModule/projectDetails/customercreation">
                        <i class="material-icons">pie_chart</i>
                        <p>Project Module</p>
                    </a>
                </li>
                <%}%>

                <% if(emp_access == "F1"){%>
                <li>
                    <a href="/projectModule/projectDetails/projectDocumentsView">
                        <i class="material-icons">pie_chart</i>
                        <p>Project Module</p>
                    </a>
                </li>
                <%}%>

                <% if(emp_access != "F1"){%>
                <li>
                   <a href="/appraisalModule/viewAppraisal/viewAppraisal">
                        <i class="material-icons">thumbs_up_down</i>
                        <p>Appraisal Module</p>
                    </a>
                </li>
                <%}%>

                <li class="active">
                    <a href="/cmsModule/cms/cms">
			<i class="fa fa-file-text" aria-hidden="true"></i>
                        <p>E-Docket</p>
                    </a>
                </li>

                <% if(emp_access == "N1"){%>
                <li>
                    <a href="/assetModule/assetDetails/assetDetails">
                        <i class="material-icons">phonelink</i>
                        <p>Asset Management</p>
                    </a>
                </li>
                <%}%>

                <li >
                    <a href="/requestModule/applyLeave/applyLeave">
                        <i class="material-icons">event</i>
                        <p>Leave Requests</p>
                    </a>
                </li>

                <% if(emp_access == "A1" || emp_access == "F1"){%>
                <li>
                    <a href="/holidaysModule/holidays/viewHolidays">
                        <i class="material-icons">date_range</i>
                        <p>Holiday Management</p>
                    </a>
                </li>
                <%}%>

                <% if(emp_access != 'A1'){ %>
                <li>
                   <% if(emp_access != "F1"){ %>
                    <a href="/travelModule/travel/travel">
                        <i class="material-icons">flight</i>
                        <p>Travel Requests</p>
                    </a>
                  <%}else{%>
                    <a href="/travelModule/travel/travelHrReqQueue">
                        <i class="material-icons">flight</i>
                        <p>Travel Requests</p>
                    </a>
                   <% } %>
                </li>
                <% } %>


                <% if( emp_access== 'F1'){ %>
                <li>
                    <a href="/invoiceModule/invoiceDetails/chooseinvoiceDetails">
                        <i class="material-icons">storage</i>
                        <p>Invoice Management</p>
                    </a>
                </li>
                <% } %>

                <% if(emp_access != 'A1'){ %>
                <li>
                   <% if(emp_access != "F1" ){ %>
                    <a href="/reimbursementModule/initiateRem/initiateRem">
                        <i class="material-icons">receipt</i>
                        <p>Claims</p>
                    </a>
                   <%}else{%>
                    <a href="/reimbursementModule/initiateRem/reimburseHrReqQueue">
                        <i class="material-icons">receipt</i>
                        <p>Claims</p>
                    </a>
                   <%}%>
                </li>
                <% } %>

            </ul>


        </div>
    </div>


<div class="main-panel">
<div class="container-fluid">
        <% include ../common/userBar %>
<br>

   <div class="content">
      <div class="container-fluid">
         <div class="row">
	    <div class="col">
	       <div class="card">
                  <div class="header2row">
                     <nav class="navbar navbar-inverse" >
                        <ul class="nav navbar-nav" style="color:#669999">
			<li><a href="/cmsModule/cms/cmsUploadAdmin">Upload Documents</a></li>
                        <li><a href="/cmsModule/cms/cmsApprAdmin">Approval Pending</a></li>
                        <li><a href="/cmsModule/cms/cmsViewAdmin">View Documents</a></li>
			<% if(emp_access == "A1"){%>
				<li><a href="/cmsModule/cms/policyUploadAdmin">Upload Policy Docs</a></li>
			<% } %>
			<li><a href="/cmsModule/cms/policyViewAdmin"><span style="color:#ff6600">View Policy Docs</span></a></li>	
			<% if(emp_access == "A1"){%>
                                <li><a href="/cmsModule/cms/magazineUploadAdmin">Upload Magazines</a></li>
                        <% } %>
			<li><a href="/cmsModule/cms/magazineViewAdmin">View Magazines</a></li>
			<li><a href="/cmsModule/cmsFAQDetails/cmsFAQDetails">FAQ</a></li>
			</ul>
		     </nav>
		  </div>
		  <div class="content">
			<form name="policyForm" id="policyForm" action="/cmsModule/cms/policyViewAdminPost" method="post">
			<hr/>
				<h4 class="title">Policy Documents      <i class="fa fa-file" aria-hidden="true"></i></h4>
			<hr/>
				<div class="row">
                                   <div class="col-md-5">
                                      <div class="form-group">
                                         <label style="color:#404040;">Policy Tag <span style="color:red;font-size: 10pt">*</span></label>
					 <select class="form-control" id="policyTag" name="policyTag">
                                             <option value="ALL">ALL</option>
                                             <% for (i = 0; i < policy_count; i++)  {
                                                if(policy[i].comm_code_desc == policyTag) {%>
                                                        <option value="<%=policy[i].comm_code_desc%>" selected><%=policy[i].comm_code_desc%></option>
                                                <%}else{%>
                                                        <option value="<%=policy[i].comm_code_desc%>"><%=policy[i].comm_code_desc%></option>
                                                <%}
                                             };%>
                                         </select>
                                      </div>
                                   </div>
			
				   <div class="col-md-5">
                                      <div class="form-group">
					<label style="color:#404040;font-size: 10pt"></label><br>
                                        <input type="submit" name="btnPolViewAdm" id="btnPolViewAdm" class="btn btn-info btn-fill" style="float: center;" value="View">
                                      </div>
                                   </div>
                                </div>
				
				<% if(polLen != 0) {%>
				   <div class="row">
					<div class="col-sm-6" >
					  <ol>
					      <% for (i = 0; i < polLen; i++)  {%>
						<li><span style="width:100%; word-wrap:break-word; display:inline-block;">
						<a href="/cmsModule/cms/policyViewFilesAdmin?id=<%=polDocs[i]%>" target="_blank"><%=polDocs[i]%></a>
						<% if(emp_access == "A1"){%>
							<a style="color:#293699;" title="Delete" onclick="return deletePolicy(&#39;<%=polDocs[i]%>&#39;,&#39;<%=policyTag%>&#39;)">
							<i class="fa fa-times fa-lg" aria-hidden="true"></i></a>
						<% } %>
						</span></li>
					      <% }; %>
					  </ol>
					</div>
				   </div>
				<% } else { %>
					<label style="color:#404040;">No records found </label>
					<br/>
				<% } %>
				        <div class="clearfix"></div>
                        </form>
		  </div>
               </div>
           </div>
        </div>
     </div>
  </div>
    </div>
	<% include ../common/footer %>
</div>


</body>

    <% if(success!="") { %>
       <script type="text/javascript">
        $(document).ready(function(){

                demo.initChartist();

                $.notify({
                icon: 'fa fa-exclamation-circle',
                message:"<b><%= success %></b>"

            },{
                type: 'info',
                timer: 500
            });

        });
        </script>
    <%}%>

    <% if(error!="") { %>
      <script type="text/javascript">
      $(document).ready(function(){
      demo.initChartist();
      $.notify({
      icon: 'fa fa-exclamation-circle',
      message:"<b><%= error %></b>"
      },{
         type: 'danger',
         timer: 500
      });
      });
      </script>
   <%}%>
</html>
