<!doctype html>
<html lang="en">

  
<head>
	    <% include ../common/header %>
        <% include ../common/scripts %>
        <% include ../common/styles %>
        <title>Travel</title>
		<style>
       .select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    width: 348;
    margin-left: 50px;
    position: relative;
    vertical-align: middle;
  }
        		
      .navbar .navbar-reverse 
      {
          display: inline-block;
          float: none;
          vertical-align: top;
      }

      .navbar .navbar-collapse 
      {
          text-align: center;
      }

                        table, tr, td
                        {
                            border: 0px;
                            padding: 2px;
                        }

                        table
                        {
                                border-spacing: 0px;
                        }
                        
      hr {
                                border: none;
                                height: 1px;
                                color: #333; 
                                background-color: #333; 
                           }
                      .picker__select--year {
                            width: 24.5%;
                            height: 30%;
                        }
                        .picker__select--month {
                            width: 35%;
                            height: 30%;
                        }

           </style>

			 
    

        
	    
		 
		  <script type="text/javascript">

    function updateAmount()
    {
      
				var amount_refunded = document.getElementById("amount_refunded").value;
      if(amount_refunded == "")
                                {
                                                //alert("Select The From Location");
                                                document.getElementById("amount_refunded").focus();
                                                demo.initChartist();
      $.notify({
              icon: 'pe-7s-gift',
              message: "Enter the Refunded Amount value"

            },{
                type: 'info',
                timer: 500
            });

                         return false;
                } 
			return true;
	}			
 </script>					
      
	 

</head>
<body onload="changeHashOnLoad();">
<div class="wrapper">
<div class="sidebar" style ="background-color: transparent;color: #006666">
    <!--
        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag
    -->
    	<div class="sidebar-wrapper">
                <% include ../common/logo %>

            <ul class="nav">
                <li>
                    <a href="/admin-dashboard/adminDashboard/admindashboard">
			<i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
 		    <% if(emp_access == "A1"){%>
                    <a href="/employeeModule/employeeDetails/employeeDetails">
			<i class="material-icons">person</i>
                        <p>Employee Details</p>
                    </a>
                    <%}else{%>
                    <a href="/employeeModule/employeeDetails/employeeAddpersonal">
			<i class="material-icons">person</i>
                        <p>Employee Details</p>
                    </a>
                    <%}%>
                </li>
		
		<% if(emp_access == "L1" || emp_access == "L2" ){%>
                <li>
                    <a href="/projectModule/projectDetails/customercreation">
			<i class="material-icons">pie_chart</i>
                        <p>Project Module</p>
                    </a>
                </li>
		<%}%>
		
		<% if(emp_access == "F1"){%>
                <li>
                    <a href="/projectModule/projectDetails/projectDocumentsView">
                        <i class="material-icons">pie_chart</i>
                        <p>Project Module</p>
                    </a>
                </li>
                <%}%>

		<% if(emp_access != "F1"){%>
                <li>
                   <a href="/appraisalModule/viewAppraisal/viewAppraisal">
			<i class="material-icons">thumbs_up_down</i>
                        <p>Appraisal Module</p>
                    </a>
                </li>
		<%}%>

                <li>
                    <a href="/cmsModule/cms/cms">
			<i class="material-icons">file_upload</i>
                        <p>E-Docket</p>
                    </a>
                </li>
	
		<% if(emp_access == "N1"){%>
                <li>
                    <a href="/assetModule/assetDetails/assetDetails">
			<i class="material-icons">phonelink</i>
                        <p>Asset Management</p>
                    </a>
                </li>
		<%}%>

		<li >
                    <a href="/requestModule/applyLeave/applyLeave">
			<i class="material-icons">event</i>
                        <p>Leave Requests</p>
                    </a>
                </li>

		<% if(emp_access == "A1" || emp_access == "F1"){%>
                <li>
                    <a href="/holidaysModule/holidays/viewHolidays">
			<i class="material-icons">date_range</i>
                        <p>Holiday Management</p>
                    </a>
                </li>
		<%}%>

		<% if(emp_access != "A1"){ %>
                <li class="active">
                   <% if(emp_access != "F1"){ %> 
                    <a href="/travelModule/travel/travel">
			<i class="material-icons">flight</i>
                        <p>Travel Requests</p>
                    </a>
                  <%}else{%>   
                    <a href="/travelModule/viewTravelFinQueue/viewTravelFinQueue">
			<i class="material-icons">flight</i>
                        <p>Travel Requests</p>
                    </a>
                   <% } %>
                </li>
		<% } %>


		<% if( emp_access== 'F1'){ %>
		<li>
                    <a href="/invoiceModule/invoiceDetails/chooseinvoiceDetails">
			<i class="material-icons">storage</i>
                        <p>Invoice Management</p>
                    </a>
		</li>
		<% } %>

		<% if(emp_access != "A1"){ %>
		<li>
		   <% if(emp_access != "F1" ){ %>
                    <a href="/reimbursementModule/initiateRem/initiateRem">
			<i class="material-icons">receipt</i>
                        <p>Claims</p>
                    </a>
		   <%}else{%>
                    <a href="/reimbursementModule/viewClaimFinQueue/viewClaimFinQueue">
			<i class="material-icons">receipt</i>
                        <p>Claims</p>
                    </a>
		   <%}%>
                </li>
		<% } %>

            </ul>
    	</div>
    </div>   

    <div class="main-panel">
 <div class="container-fluid">
        <% include ../common/userBar %>
            </div>
			<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="header">
                            <nav class="navbar navbar-inverse">
                <ul class="nav navbar-nav" style="color:#669999">
                <% if(emp_access != 'F1'){ %> 
                    <li><a href="/travelModule/travel/travel">Initiate Travel Request</a></li>
                    <li><a href="/travelModule/viewTravelReq/viewTravelReq">View Request</a></li>
                  
                     <li><a href="/travelModule/viewTravelApprQueue/viewTravelApprQueue"><span style="color:#ff6600">View Approval Queue</span></a></li>
                <% } %>
               <% if(emp_access == 'F1'){ %> 
            <li><a href="/travelModule/viewTravelFinQueue/viewTravelFinQueue"><span style="color:#ff6600">View Approval Queue</span></a></li>
           <% } %>
		    <li><a href="/travelModule/travelFAQDetails/travelFAQDetails">FAQ</a></li>
                </ul>
                </nav>
                      
                            </div>
							   <div class="row flashrow " style="margin-left: 30px;">
       <div class="col s11 a sucdisplay center" style="padding-top: 20px;">
             
         
             <div><%= success%> </div> 
          
           </div>
       </div>
 <div class="content">
  <form name="myForm" id="canReq" action="/travelModule/approveReq/cancelRequest" method="post">
    <hr/>     
                               <h4 class="title">Approve/Reject
							    
								
								</h4>
                     <hr/>
					  <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label style="color:#404040;margin-left: 50px;"  for="req_id">Request Id</label>
						<input type="text" class="form-control" style ="margin-left: 50px;width:348px" readonly="true" id="req_id" name="req_id" value="<%-req_id%>"/>
                                            </div>
                                        </div>
                                  
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label style="color:#404040;margin-left: 50px" for="empid">Employee Id</label>
						
						<input type="text" class="form-control" style ="margin-left: 50px;width:348px" readonly="true" id="empid" name="empid" value="<%-empid%>" />
                                            
											</div>
										</div>
                                      </div>
									   <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label style="color:#404040;margin-left: 50px" for="empname">Employee Name</label>
						<input type="text" class="form-control" style ="margin-left: 50px;width:348px" readonly="true" id="empname" name="empname" value="<%-empname%>" />
                                           </div>  
                                        </div>
										

                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label style="color:#404040;margin-left: 50px" for="project_id">Project Id</label>
						<input type="text" class="form-control" style ="margin-left: 50px;width:348px" readonly="true" id="project_id" name="project_id" value="<%-project_id%>" />
                                            
                                        </div>
                                    </div>
									</div>
									
									<div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label style="color:#404040;margin-left: 50px" for="from_location">From Location</label>
						<input type="text" class="form-control" style ="margin-left: 50px;width:348px" readonly="true" id="from_location" name="from_location" value="<%-from_location%>" />
                                            </div>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label style="color:#404040;margin-left: 50px" for="to_location">To Location</label>
						<input type="text" class="form-control" style ="margin-left: 50px;width:348px" readonly="true" id="to_location" name="to_location" value="<%-to_location%>" />
                                            </div>
                                        </div>
                                </div>
                                   <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label style="color:#404040;margin-left: 50px" for="from_date">From Date</label>
						
						<input type="text" class="form-control" style ="margin-left: 50px;width:348px" readonly="true" id="from_date" name="from_date" value= "<%-from_date.toDateString()%>" />
                                            </div>
                                        </div>
										
										 <% if(to_date){ %>
                                        <div class="col-md-5">
                                            <div class="form-group" id="tentDate">
                                                <label style="color:#404040;margin-left: 50px" for="to_date">To Date</label>
						<input type="text" class="form-control" style ="margin-left: 50px;width:348px" readonly="true" id="to_date" name="to_date" value="<%-to_date.toDateString()%>" />
                                            </div>
                                        </div>
										 <% } %>
                                                            
                                 </div>
								 
									 <div class="row">
								
									<% if(remarks != null){ %>
                                        <div class="col-md-5">
                                            <div class="form-group" id="rmks">
                                                <label style="color:#404040;margin-left: 50px" for="remarks">Employee Remarks</label>
						<input type="text" class="form-control" style ="margin-left: 50px;width:348px" readonly="true" id="remarks" name="remarks" value= "<%-remarks%>" />
                                            </div>
                                        </div>
										 <% } %>
										 
             
									 
									</div>
									 <div class="row">
							 <% if(pnr_number != null){ %>
							<% if(pnr_number != ''){ %>
                                
                                        <div class="col-md-5">
                                             <div class="form-group">
                                                <label style="color:#404040;margin-left: 50px">PNR Number</label>
                                                <input type="text" style="margin-left: 50px;width:348px;text-transform:uppercase" id="pnr_number" name="pnr_number" value="<%= pnr_number%>" disabled="true" class="form-control" placeholder="">
                                            </div>
                                        </div>
										
								<% } }%>		
						<% if(ticket_number != null){ %>
					   <% if(ticket_number != ''){ %>
                         <div class="col-md-5">
                                           <div class="form-group">
                                                <label style="color:#404040;margin-left: 50px">Ticket Number</label>
                                                <input type="text" style="margin-left: 50px;width:348px;text-transform:uppercase" id="ticket_number" name="ticket_number" value="<%= ticket_number%>" disabled="true" class="form-control" placeholder="">
                                            </div>
                                        </div>
										  <% }} %>
                                    </div> 

                  <% if(emp_access != 'L3'){ %> 
                    <% if(modify_flg == 'Y'&&free_text_1!=''){ %>
                    <% if(modify_flg=='Y'&&free_text_1!=null){ %> 
                     <div class="row">
								 <% if(free_text_1 != null ){ %> 
										    <% if(free_text_1 != ''){ %> 
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label style="color:#404040;margin-left: 50px" for="ticket_Amount">Booked Ticket Fare</label>
                               <input type="text" class="form-control" style ="margin-left: 50px;width:348px"  id="ticket_Amount" name="ticket_Amount" value= "<%=free_text_1%>" readonly="true"/>
                                            </div>
                                        </div>
								 <% }} %>  
                     </div>
                     <% if(emp_access == 'F1'){ %>
						<div class="row">
								
								<div class="col-md-12">
                                        	<!--<label style="color:#404040;margin-left: 64px" for="probPeriod">Probation Period <span style="color:red;font-size: 10pt">*</span></label> <br> -->
                                        	<input style ="margin-left: 64px;" type="radio" name="probPeriod" id="refund" value="R" checked="checked"/>Refund Amount&nbsp;&nbsp;
                                        	
                                        </div>
								</div>
					 
					 <div class="row" id="amtrfd1">
                
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label style="color:#404040;margin-left: 50px" for="amount_refunded">Amount Refunded</label>
                               <input type="text" class="form-control" style ="margin-left: 50px;width:348px"  id="amount_refunded" name="amount_refunded" value= ""/>
                                            </div>
                                        </div>
										
										 
                     </div>
                     
					<% }} }}%>
					  <% if(emp_access == 'F1'){ %> 
									 
					 
                    <% if(free_text_1){ %> 
					  <div class="row" id="amtRefundDiv">
                
                                        
										 <div class="col-md-1">
                                          <div class="form-group">
                                                   <input type="submit" name="refundAmt" id="refundAmt" style="margin-left:85%;padding:1px 9px;height:40px;width:121px;margin-top: 24px;" class="btn btn-info btn-fill" style="float: center;" value="Submit" onclick="return updateAmount();"  >
                                              </div> 
                                          
                                              </div> 
										
                     </div>
					  <% }} %>  
					    <% if(emp_access == 'F1'){ %> 
									 
					    <% if(empaccess == 'L1'){ %> 
						 <% if(free_text_1==''||free_text_1==null){ %> 
						
						<div class="row">
								
								<div class="col-md-12">
                                        	<!--<label style="color:#404040;margin-left: 64px" for="probPeriod">Probation Period <span style="color:red;font-size: 10pt">*</span></label> <br> -->
                                        	<input style ="margin-left: 64px;" type="radio" name="probPeriod" id="refund" value="R" checked="checked"/>Refund Amount&nbsp;&nbsp;
                                        	
                                        </div>
								</div>
					 
					 <div class="row" id="amtrfd1">
                
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label style="color:#404040;margin-left: 50px" for="amount_refunded">Amount Refunded</label>
                               <input type="text" class="form-control" style ="margin-left: 50px;width:348px"  id="amount_refunded" name="amount_refunded" value= ""/>
                                            </div>
                                        </div>
										
										 
                     </div>
                     
					
                  
					  <div class="row" id="amtRefundDiv">
                
                                        
										 <div class="col-md-1">
                                          <div class="form-group">
                                                   <input type="submit" name="refundAmt" id="refundAmt" style="margin-left:85%;padding:1px 9px;height:40px;width:121px;margin-top: 24px;" class="btn btn-info btn-fill" style="float: center;" value="Submit" onclick="return updateAmount();"  >
                                              </div> 
                                          
                                              </div> 
										
                     </div>
					  <% }}} %>
										 
										  <div class="row" >
									    
						<div class="col-md-5">
                                            <div class="form-group">
                                               
            <input type="hidden" class="form-control" style ="margin-left: 50px;width:348px" readonly="true" id="empaccess" name="empaccess" value= "<%-emp_access%>" />
            <input type="hidden" class="form-control" style ="margin-left: 50px;width:348px" readonly="true" id="emp_access" name="emp_access" value= "<%-empaccess%>" />
            <input type="hidden" class="form-control" style ="margin-left: 50px;width:348px" readonly="true" id="prevCost" name="prevCost" value= "<%-free_text_1%>" />
			<input type="hidden" class="form-control" style ="margin-left: 50px;width:348px" readonly="true" id="modify_flg" name="modify_flg" value= "<%-modify_flg%>" />
          
                                            </div>
                                        </div>
									</div>
									
													 
									
									
									 <div id="view_history">
													   <table class="table table-striped table-bordered table-responsive">
<thead>
<tr>
    <td>MODIFY DATE</td>
    <td>FROM DATE</td>
    <td>TO DATE</td>
    <td>FROM LOCATION</td>
    <td>TO LOCATION</td>
	<td>PNR NO</td>
	<td>TICKET NO</td>
	<td>REMARKS</td>
	<td>STATUS</td>
</tr>
</thead>
<% for (i = 0; i < modifiedListData.length; i++) {%>
<tr>
    <td><%=modifiedListData[i].lchg_time.toDateString()%></td>
    <td><%=modifiedListData[i].from_date.toDateString()%></td>
 <% if(to_date){ %>	
    <td><%=modifiedListData[i].to_date.toDateString()%></td>
	<% } %>
	 
     <td><%=modifiedListData[i].from_location%></td>
    <td><%=modifiedListData[i].to_location%></td>
	<% if(modifiedListData[i].pnr_number == '' ||modifiedListData[i].pnr_number == null){%>
	<td>-</td>
	<% }else{ %>
	<td><%=modifiedListData[i].pnr_number%></td>
	<% } %>
	<% if(modifiedListData[i].ticket_number == ''||modifiedListData[i].ticket_number == null){%>
	<td>-</td>
	<% }else{ %>
	<td><%=modifiedListData[i].ticket_number%></td>
	<% } %>
	<td><%=modifiedListData[i].remarks%></td>
	<% if(modifiedListData[i].request_status == 'MOD'){%>
	<td>Resubmitted</td>
	<% } %>
	<% if(modifiedListData[i].request_status == 'SUB'){%>
	<td>Submitted</td>
	<% } %>
</tr>

 <% } %>
</table>
</div>
								 <div class="clearfix"></div>	
									 <br>
										 
								
  </form>
 </div>
							</div>
							</div>
							</div>
							</div>
							</div>
			 <% include ../common/footer %>
	 </div>		
	 
</div>

</body>

    
 <% if(success!="") { %>

        <script type="text/javascript">
        $(document).ready(function(){

                demo.initChartist();

                $.notify({
                icon: 'pe-7s-gift',
                message:"<b><%= success %></b>"

            },{
                type: 'info',
                timer: 500
            });

        });
        </script>
        <%}%>

         <% if(error!="") { %>

        <script type="text/javascript">
        $(document).ready(function(){

                demo.initChartist();

                $.notify({
               
                message:"<b><%= error %></b>"

            },{
                type: 'danger',
                timer: 500
            });

        });
        </script>
<%}%>
</html>
