<!doctype html>
<html lang="en">
<head>
  <% include ../common/header %>
        <% include ../common/scripts %>
        <% include ../common/styles %>
        <title>Travel</title>
		<style>
       .select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    width: 348;
    margin-left: 50px;
    position: relative;
    vertical-align: middle;
  }
        		
			
			.navbar .navbar-reverse 
			{
  				display: inline-block;
  				float: none;
  				vertical-align: top;
			}

			.navbar .navbar-collapse 
			{
  				text-align: center;
			}

                        table, tr, td
                        {
                            border: 0px;
                            padding: 2px;
                        }

                        table
                        {
                                border-spacing: 0px;
                        }
                        
			hr {
                                border: none;
                                height: 1px;
                                color: #333; 
                                background-color: #333; 
                           }
				.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
	  width: 348px;
		left:-50px;
}		  
.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 348px;
    left:-50px;
} 


    	     </style>
			  <style>

			 .picker__select--year {
                            width: 24.5%;
                            height: 30%;
                        }
                        .picker__select--month {
                            width: 35%;
                            height: 30%;
                        }
			
			 </style>


            <!--Start Added by nandhini for  Remarks-->
                                   <% if (to_date=="") { %>
                              <script>
                //alert("hi");
                $(document).ready(function(){
                                   jQuery('#tentDate').hide();    
                  });
                               </script>
                               <% } %>
							   
				
              <% if (remarks=="") { %>
                              <script>
                //alert("hELLO");
               //document.getElementById("rmks").style.visibility = "hidden";
			    $(document).ready(function(){
                 $("#rmks").hide();
				   });
                               </script>
                               <% } %>				
     <!--End Added by nandhini for  Remarks-->

</head>
<body onload="changeHashOnLoad();">

<div class="wrapper">
    <div class="sidebar" style ="background-color: transparent;color: #006666">
    <!--
        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag
    -->
    	<div class="sidebar-wrapper">
                <% include ../common/logo %>

            <ul class="nav">
                <li>
                    <a href="/admin-dashboard/adminDashboard/admindashboard">
			<i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
 		    <% if(emp_access == "A1"){%>
                    <a href="/employeeModule/employeeDetails/employeeDetails">
			<i class="material-icons">person</i>
                        <p>Employee Details</p>
                    </a>
                    <%}else{%>
                    <a href="/employeeModule/employeeDetails/employeeAddpersonal">
			<i class="material-icons">person</i>
                        <p>Employee Details</p>
                    </a>
                    <%}%>
                </li>
		
		<% if(emp_access == "L1" || emp_access == "L2" ){%>
                <li>
                    <a href="/projectModule/projectDetails/customercreation">
			<i class="material-icons">pie_chart</i>
                        <p>Project Module</p>
                    </a>
                </li>
		<%}%>
		
		<% if(emp_access == "F1"){%>
                <li>
                    <a href="/projectModule/projectDetails/projectDocumentsView">
                        <i class="material-icons">pie_chart</i>
                        <p>Project Module</p>
                    </a>
                </li>
                <%}%>

		<% if(emp_access != "F1"){%>
                <li>
                   <a href="/appraisalModule/viewAppraisal/viewAppraisal">
			<i class="material-icons">thumbs_up_down</i>
                        <p>Appraisal Module</p>
                    </a>
                </li>
		<%}%>

                <li>
                    <a href="/cmsModule/cms/cms">
			<i class="material-icons">file_upload</i>
                        <p>E-Docket</p>
                    </a>
                </li>
	
		<% if(emp_access == "N1"){%>
                <li>
                    <a href="/assetModule/assetDetails/assetDetails">
			<i class="material-icons">phonelink</i>
                        <p>Asset Management</p>
                    </a>
                </li>
		<%}%>

		<li >
                    <a href="/requestModule/applyLeave/applyLeave">
			<i class="material-icons">event</i>
                        <p>Leave Requests</p>
                    </a>
                </li>

		<% if(emp_access == "A1" || emp_access == "F1"){%>
                <li>
                    <a href="/holidaysModule/holidays/viewHolidays">
			<i class="material-icons">date_range</i>
                        <p>Holiday Management</p>
                    </a>
                </li>
		<%}%>

		<% if(emp_access != "A1"){ %>
                <li class="active">
                   <% if(emp_access != "F1"){ %> 
                    <a href="/travelModule/travel/travel">
			<i class="material-icons">flight</i>
                        <p>Travel Requests</p>
                    </a>
                  <%}else{%>   
                    <a href="/travelModule/viewTravelFinQueue/viewTravelFinQueue">
			<i class="material-icons">flight</i>
                        <p>Travel Requests</p>
                    </a>
                   <% } %>
                </li>
		<% } %>


		<% if( emp_access== 'F1'){ %>
		<li>
                    <a href="/invoiceModule/invoiceDetails/chooseinvoiceDetails">
			<i class="material-icons">storage</i>
                        <p>Invoice Management</p>
                    </a>
		</li>
		<% } %>

		<% if(emp_access != "A1"){ %>
		<li>
		   <% if(emp_access != "F1" ){ %>
                    <a href="/reimbursementModule/initiateRem/initiateRem">
			<i class="material-icons">receipt</i>
                        <p>Claims</p>
                    </a>
		   <%}else{%>
                    <a href="/reimbursementModule/viewClaimFinQueue/viewClaimFinQueue">
			<i class="material-icons">receipt</i>
                        <p>Claims</p>
                    </a>
		   <%}%>
                </li>
		<% } %>

            </ul>
    	</div>
    </div>   

    <div class="main-panel">
 <div class="container-fluid">
        <% include ../common/userBar %>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                        <div class="card">
                            <div class="header">
       

              <nav class="navbar navbar-inverse">
               <ul class="nav navbar-nav" style="color:#669999">
                <% if(emp_access != 'F1'){ %> 
                    <li><a id="reload" href="/travelModule/travel/travel">Initiate Travel Request</a></li>
                    <li><a href="/travelModule/viewTravelReq/viewTravelReq"><span style="color:#ff6600">View Request</span></a></li>
                   
                     <li><a href="/travelModule/viewTravelApprQueue/viewTravelApprQueue">View Approval Queue</span></a></li>
                <% } %>
               <% if(emp_access == 'F1'){ %> 
            <li><a href="/travelModule/viewTravelFinQueue/viewTravelFinQueue">View Approval Queue</a></li>
           <% } %>
		    <li><a href="/travelModule/travelFAQDetails/travelFAQDetails">FAQ</a></li>
                </ul>
                </nav>

                            </div>
							 <div class="row flashrow " style="margin-left: 30px;">
       <div class="col s11 a sucdisplay center"  style="padding-top: 20px;">
             
         
             <div><%= success%> </div> 
          
           </div>
       </div> 
             
                            <div class="content">
    
   <!-- <div class="container"  style="width:80 -->

            <form name="myForm" id="myForm" action="/travelModule/travel/travelReq" method="post">
       <hr/>
        <h4 class="title">My Request<span style="font-size: 18px;
    color: red;">&nbsp;&nbsp;&nbsp;&nbsp;Request Id:<%=req_id%></span></h4>
        <hr/>
                               
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label style="color:#404040;margin-left: 50px">Project Id</label>
                                                <input type="text" style="margin-left: 50px;width:348px;text-transform:uppercase" id="projectId" name="projectId" value="<%= project_id%>" disabled="true" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                       <div class="col-md-5">
                                            <div class="form-group">
                                                <label style="color:#404040;margin-left: 50px">Employee name</label>
                                                <input type="text" style="margin-left: 50px;width:348px;text-transform:uppercase" id="emp_name" name="emp_name" value="<%= emp_name%>" disabled="true" class="form-control" placeholder="">
                                            </div>
                                        </div>
          
                                    </div>
                                   
                                 <input type="hidden" style="margin-left: 50px;width:348px;text-transform:uppercase" id="free_text_1" name="free_text_1" value="<%= free_text_1%>">
               
                           <div class="row">
				<% if(from_date){ %>						   
                                  <div class="col-md-5">
                                            <div class="form-group" id="dvPassport">
                                            
                                            <label style="color:#404040;margin-left: 50px">Travel Date</label>
                                                <input type="text" style="margin-left: 50px;width:348px;text-transform:uppercase" id="from_date" name="from_date" value="<%= from_date.toDateString()%>" disabled="true" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                <% } %>       
 
                                    <% if(to_date){ %>
                                        <div class="col-md-5" >
                                             <div class="form-group" id="tentDate">
                                           
                                             <label style="color:#404040;margin-left: 50px">Tentative Date</label>
                                                <input type="text" style="margin-left: 50px;width:348px;text-transform:uppercase" id="to_date" name="to_date" value="<%= to_date.toDateString()%>" disabled="true" class="form-control" placeholder="">
                                                </div>
                                            </div>
											 <% } %>
                                        </div> 
                               
                
                <div class="row">
                                        <div class="col-md-5">
                                             <div class="form-group">
                                                <label style="color:#404040;margin-left: 50px">From Location</label>
                                                <input type="text" style="margin-left: 50px;width:348px;text-transform:uppercase" id="from_location" name="from_location" value="<%= from_location%>" disabled="true" class="form-control" placeholder="">
                                            </div>
                                        </div>
          
                         <div class="col-md-5">
                                           <div class="form-group">
                                                <label style="color:#404040;margin-left: 50px">To Location</label>
                                                <input type="text" style="margin-left: 50px;width:348px;text-transform:uppercase" id="to_location" name="to_location" value="<%= to_location%>" disabled="true" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                
                                            
                    
        <div class="row" >
		<% if(remarks != null){ %>
                                        <div class="col-md-5">
                                            <div class="form-group" id="rmks">
                                                <label for="rmks" style="color:#404040;margin-left: 50px">Remarks</label>
            <input type="text" style="margin-left: 50px;width:348px;text-transform:uppercase" id="remarks" name="remarks" value="<%= remarks%>" disabled="true" class="form-control" placeholder="">
                                          
                                            </div>
                                        </div>
										 <% } %>
                     <% if(free_text_1 != null){ %>
                     <% if(free_text_1 != ''){ %>
               <div class="row">
                
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label style="color:#404040;margin-left: 50px" for="ticket_Amount">Ticket Amount fare</label>
                               <input type="text" class="form-control" style ="margin-left: 50px;width:348px"  id="ticket_Amount" name="ticket_Amount" value= "<%=free_text_1%>" readonly="true"/>
                                            </div>
                                        </div>
                     </div>
                       <% }} %>
                    
                                        </div>
										 <% if( emp_access!= 'L1'){ %>
                     <% if(approver_remarks){ %>
                   <div class="row">
                
                                        <div class="col-md-5" >
                                            <div class="form-group" id="apprmks">
                                                <label style="color:#404040;margin-left: 50px" for="app_remarks">Approver Remarks</label>
            <input type="text" class="form-control" style ="margin-left: 50px;width:348px;text-transform:uppercase"  id="app_remarks" name="app_remarks" value= "<%=approver_remarks%>" readonly="true"/>
                                            </div>
                                        </div>
                  
                    
                  </div>
                     <% } }%>
        <% if( emp_access!= 'L1'){ %>
        <div class="row" id="approval">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="gstno" style="color:#404040;margin-left: 50px">Approver</label>
                                                <input type="text" style="margin-left: 50px;width:348px;text-transform:uppercase" id="gstno" name="gstno" value="<%= empName%>" disabled="true" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        
                                 </div>
             <% } %>                           
            <br>
           
                                    <div class="clearfix"></div>
            <br>
                                </form>


 
<!--</div> -->
     
                            </div>
                    </div>
                </div>
            </div>
        </div>


        


    </div>
	 <% include ../common/footer %>
</div>


</body>

   
 <% if(success!="") { %>

        <script type="text/javascript">
        $(document).ready(function(){

                demo.initChartist();

                $.notify({
                icon: 'pe-7s-gift',
                message:"<b><%= success %></b>"

            },{
                type: 'info',
                timer: 500
            });

        });
        </script>
        <%}%>

         <% if(error!="") { %>

        <script type="text/javascript">
        $(document).ready(function(){

                demo.initChartist();

                $.notify({
                icon: 'pe-7s-gift',
                message:"<b><%= error %></b>"

            },{
                type: 'danger',
                timer: 500
            });

        });
        </script>
<%}%>

        

</html>
