<!doctype html>
<html lang="en">
<head>
        <% include ../common/header %>
        <% include ../common/scripts %>
        <% include ../common/styles %>
        <title>Project Details</title>
	
	<style>
		.navbar .navbar-reverse
		{
			display: inline-block;
			float: none;
			vertical-align: top;
		}

		.navbar .navbar-collapse
		{
			text-align: center;
		}

		table, tr, td
		{
		    border: 0px;
		    padding: 2px;
		}

		table
		{
			border-spacing: 0px;
		}

		hr
		{
			border: none;
			height: 1px;
			color: #333;
			background-color: #333;
		}
                /* mouse over link */
                a:hover {
                    color: red;
                    text-decoration: underline;
                }

	</style>

	<script>
        function Validation()
        {
                var projId	= document.getElementById("projId").value;
                if(projId == "")
                {
                        //alert("Select the Project Id");
			demo.initChartist();
                        $.notify({
                        icon: 'fa fa-exclamation-circle',
                        message: "Select the Project Id"
                        },{
                        type: 'danger',
                        timer: 500
                        });
                        document.getElementById("projId").focus();
                        return false;
                }
                return true;
        }

	function resetform()
	{
		document.getElementById("viewForm").reset();
		document.getElementById("projId").focus();
	}
</script>

</head>
<body onload="changeHashOnLoad();">

<div class="wrapper">
    <div class="sidebar" style="background-color: transparent;color: #006666">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

        <div class="sidebar-wrapper">
		<% include ../common/logo %>

            <ul class="nav">
                <li>
                    <a href="/admin-dashboard/adminDashboard/admindashboard">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <% if(emp_access == "A1"){%>
                    <a href="/employeeModule/employeeDetails/employeeDetails">
                        <i class="material-icons">person</i>
                        <p>Employee Details</p>
                    </a>
                    <%}else{%>
                    <a href="/employeeModule/employeeDetails/employeeAddpersonal">
                        <i class="material-icons">person</i>
                        <p>Employee Details</p>
                    </a>
                    <%}%>
                </li>

                <% if(emp_access == "L1" || emp_access == "L2" ){%>
                <li class="active">
                    <a href="/projectModule/projectDetails/customercreation">
                        <i class="material-icons">pie_chart</i>
                        <p>Project Module</p>
                    </a>
                </li>
                <%}%>

                <% if(emp_access == "F1"){%>
                <li class="active">
                    <a href="/projectModule/projectDetails/projectDocumentsView">
                        <i class="material-icons">pie_chart</i>
                        <p>Project Module</p>
                    </a>
                </li>
                <%}%>

                <% if(emp_access != "F1"){%>
                <li>
                   <a href="/appraisalModule/viewAppraisal/viewAppraisal">
                        <i class="material-icons">thumbs_up_down</i>
                        <p>Appraisal Module</p>
                    </a>
                </li>
                <%}%>

                <li>
                    <a href="/cmsModule/cms/cms">
                        <i class="material-icons">file_upload</i>
                        <p>E-Docket</p>
                    </a>
                </li>

                <% if(emp_access == "N1"){%>
                <li>
                    <a href="/assetModule/assetDetails/assetDetails">
                        <i class="material-icons">phonelink</i>
                        <p>Asset Management</p>
                    </a>
                </li>
                <%}%>

                <li >
                    <a href="/requestModule/applyLeave/applyLeave">
                        <i class="material-icons">event</i>
                        <p>Leave Requests</p>
                    </a>
                </li>

                <% if(emp_access == "A1" || emp_access == "F1"){%>
                <li>
                    <a href="/holidaysModule/holidays/viewHolidays">
                        <i class="material-icons">date_range</i>
                        <p>Holiday Management</p>
                    </a>
                </li>
                <%}%>

                <% if(emp_access != 'A1'){ %>
                <li>
                   <% if(emp_access != "F1"){ %>
                    <a href="/travelModule/travel/travel">
                        <i class="material-icons">flight</i>
                        <p>Travel Requests</p>
                    </a>
                  <%}else{%>
                    <a href="/travelModule/travel/travelHrReqQueue">
                        <i class="material-icons">flight</i>
                        <p>Travel Requests</p>
                    </a>
                   <% } %>
                </li>
                <% } %>


                <% if( emp_access== 'F1'){ %>
                <li>
                    <a href="/invoiceModule/invoiceDetails/chooseinvoiceDetails">
                        <i class="material-icons">storage</i>
                        <p>Invoice Management</p>
                    </a>
                </li>
                <% } %>

                <% if(emp_access != 'A1'){ %>
                <li>
                   <% if(emp_access != "F1" ){ %>
                    <a href="/reimbursementModule/initiateRem/initiateRem">
                        <i class="material-icons">receipt</i>
                        <p>Claims</p>
                    </a>
                   <%}else{%>
                    <a href="/reimbursementModule/initiateRem/reimburseHrReqQueue">
                        <i class="material-icons">receipt</i>
                        <p>Claims</p>
                    </a>
                   <%}%>
                </li>
                <% } %>

            </ul>

        </div>
    </div>

<div class="main-panel">
<div class="container-fluid">
        <% include ../common/userBar %>
<br>

   <div class="content">
      <div class="container-fluid">
         <div class="row">
	    <div class="col">
	       <div class="card">
                  <div class="header2row">
                     <nav class="navbar navbar-inverse">
                        <ul class="nav navbar-nav" style="color:#669999">
		<% if( emp_access!= 'F1'){ %>
			<li><a href="/projectModule/projectDetails/customercreation">Customer Details</a></li>
			<li><a href="/projectModule/projectDetails/customermodification">Customer Details Modification</a></li>
                        <li><a href="/projectModule/projectDetails/projectDetails">Add Project Details</a></li>
			<li><a href="/projectModule/projectDetails/projectDocuments">Project Documents</a></li>
		<% } %>
                        <li><a href="/projectModule/projectDetails/projectDocumentsView"><span style="color:#ff9933">Project Documents View</span></a></li>
		<% if( emp_access!= 'F1'){ %>
                        <li><a href="/projectModule/projectDetails/projectModification">Modify Project Details</a></li>
                        <li><a href="/projectModule/projectDetails/projectCopy">Copy Project Details</a></li>
			<li ><a href="/projectModule/projectDetails/milestoneMarking">Milestone Marking</a></li>
                        <li><a href="/projectModule/projectDetails/projectAllocation">Project Allocation</a></li>
			<li><a href="/projectModule/projectDetails/viewAllocation">View Project Allocation</a></li>
			<li><a href="/projectModule/projectDetails/viewEmpallocation">View Employee Allocation</a></li>
                        <li><a href="/projectModule/projectDetails/ModifydelAllocation">Modify Allocation</a></li>
                        <li ><a href="/projectModule/projectDetails/projDealloc">Project De-Allocation</a></li>
			<li><a href="/projectModule/childproject/childproject">Add Child Project</a></li>
			<li><a href="/projectModule/productdetails/productdetails">Add Product Details</a></li>
			<li><a href="/projectModule/projectDetails/recallmilestonemrak">Recall Milestone</a></li>
			<li><a href="/projectModule/projectFAQDetails/projectFAQDetails">FAQ</a></li>
		<% } %>
			</ul>
		     </nav>
		  </div>
		  <div class="content">
			<form name="viewForm" id="viewForm" action="/projectModule/projectDetails/projectDocView" method="post">
			<hr/>
				<h4 class="title">View Documents     <i class="fa fa-eye" aria-hidden="true"></i></h4>
			<hr/>
				<div class="row">
                                   <div class="col-md-5">
                                      <div class="form-group">
                                         <label style="color:#404040;">Project Id <span style="color:red;font-size: 10pt">*</span></label>
                                         <select class="form-control" id="projId" name="projId">
                                                <option value="">Select the Project Id</option>
						<% for (i = 0; i < projid_count; i++)  {%>
						<option value="<%=project[i].project_id%>"> <%=project[i].cid%> - <%=project[i].project_id%></option>
                                                <% }; %>
                                         </select>
                                      </div>
                                   </div>
				   <div class="col-md-5">
                                         <div class="form-group">
                                            <label style="color:#404040;" id="docTypeLabel">Document Type <span style="color:red;font-size: 10pt">*</span></label>
                                                <select id="docType" name="docType" class="form-control">
                                                        <option value="ALL">ALL</option>
                                                        <option value="SOW">Signed SOW</option>
                                                        <option value="PO">Purchase Order</option>
                                                        <option value="MileStone">Milestone Sign off Documents</option>
                                                        <option value="Closure">Project Closure document</option>
                                                        <option value="FeedBack">Customer Feedback Form</option>
                                                        <option value="Attendance">Signed Attendance sheet</option>
                                                </select>
                                        </div>
                                      </div>
                                </div>
				<br>
				<div class="row">
                                   <div class="col-md-5">
                                      <div class="form-group">
                                        <input type="button" class="btn btn-info btn-fill" style="float: center;" value="Clear" onclick="resetform()">
                                        <input type="submit" name="test" id="test" class="btn btn-info btn-fill" style="float: center;" value="Submit" onclick="return Validation()">
                                      </div>
                                   </div>
                                </div>
                                <div class="clearfix"></div>
			</form>	
		  </div>
               </div>
           </div>
        </div>
     </div>
  </div>
    </div>
        <% include ../common/footer %>
</div>

</body>

    <% if(success!="") { %>
       <script type="text/javascript">
        $(document).ready(function(){

                demo.initChartist();

                $.notify({
                icon: 'fa fa-exclamation-circle',
                message:"<b><%= success %></b>"

            },{
                type: 'info',
                timer: 500
            });

        });
        </script>
    <%}%>

    <% if(error!="") { %>
      <script type="text/javascript">
      $(document).ready(function(){
      demo.initChartist();
      $.notify({
      icon: 'fa fa-exclamation-circle',
      message:"<b><%= error %></b>"
      },{
         type: 'danger',
         timer: 500
      });
      });
      </script>
   <%}%>
</html>
